<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="EnableDiagnostics" value="true" />
  </appSettings>
<connectionStrings><add name="Northwind_SPPEntities" connectionString="metadata=res://*/NwindDbModel.csdl|res://*/NwindDbModel.ssdl|res://*/NwindDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UABJE8C\MSSQLSERVER01;initial catalog=Northwind_SPP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>